<nav>
  <div class="nav">
    <div class="dropdown">
      <button class="boutonmenuprincipal">≡</button>
        <div class="dropdown-child">
          <a routerLink="/">Menu enfant 1</a>
          <a routerLink="/projet">Menu enfant 5</a>
          <a routerLink="/contact">Menu enfant 2</a>
          <p>----------</p>
          <a routerLink="/login">Menu enfant 3</a>
          <a routerLink="/logout">Menu enfant 4</a>
        </div>
    </div>
    <div class="nav2">
      <p>login</p>
      <p>log out</p>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>projet perso</footer>